body {
    background-color: pink;
}
.content {
    background-color: yellow;
    padding: 1px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.fa-angle-left, .fa-angle-down {
    font-size: 30px;
}
.d-none {
    display: none;
}
#add-button {
    position: fixed;
    right: 30px;
    top: 15px;
    width: 45px;
}
#add-button:hover {
    cursor: pointer;
}